name: Test

on: [push]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        python-version: ["3.6", "3.7", "3.8", "3.9"]
    name: Test (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on:  ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        mamba-version: "*"
        channels: conda-forge
        activate-environment: cutde
        environment-file: environment.yml
        python-version: ${{ matrix.python-version }}
    - name: Install OpenCL Mac
      if: ${{ matrix.os == 'macos-latest' }}
      run: |
        conda install -y pyopencl pocl
    - name: Install OpenCL Linux
      if: ${{ matrix.os != 'macos-latest' }}
      run: |
        # From https://github.com/inducer/pyopencl/blob/main/.github/workflows/ci.yml
        curl -L -O https://raw.githubusercontent.com/illinois-scicomp/machine-shop-maintenance/main/install-intel-icd.sh
        sudo bash ./install-intel-icd.sh
        conda install -y pyopencl ocl-icd ocl-icd-system
    - name: Install cutde
      run: |
        pip install --no-use-pep517 --no-deps --disable-pip-version-check -e .
    - name: Lint with flake8
      run: |
        flake8 . 
    - name: Check formatting with black
      run: |
        black --check . 
    - name: Check import ordering with isort
      run: |
        isort --check . 
    - name: Test
      run: |
        CFLAGS='-stdlib=libc++' pytest --cov=./ --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: true
